<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="generalguidance.html">General Guidance</a></li>
  <li><a href="profiles.html">CR Core Profiles</a></li>
  <li><a href="security.html">Security</a></li>
  <li><a href="{{site.data.fhir.path}}index.html">FHIR Spec</a></li>
</ul>      
